<%- include("../partials/header")%>
<div class="pokeNewImg">
    <!-- IMAGE ADDED USING CSS -->
</div>

            <div class="pokeNew">
                <form class="newForm" action="/pokemon" method="POST">
                    <label id="text">Enter poke' Name/ Dex Number:<br>
                    <div id="dexInput"><input type="text" name="name" class="" required pattern="(\D+|[1-9]|[1-9][0-9]|[1-9][0-9][0-9]|100[0-8])" placeholder=" poke' name or #1-1008"></input></div>
                    </label><br>
                    <div id="newBtn"><button class="new-button" type="submit">Next</button></div>
                </form>
            </div>

    <%- include("../partials/footer")%>