<%- include("../partials/header")%>
<div class="pokeNewImg">
    <!-- IMAGE ADDED USING CSS -->
</div>

            <div class="pokeNew">
                <form class="" action="/pokemon" method="POST">
                    <label id="">Enter poke' Name/ Dex Number:
                    <input type="text" name="name" class="" required pattern="(\D+|[1-9]|[1-9][0-9]|[1-9][0-9][0-9]|100[0-8])"></input>
                    </label><br>
                    <button type="submit" class="new-button">Next</button>
                </form>
            </div>

    <%- include("../partials/footer")%>