<div class="footer">

    <h6 id="devs">Created by Matthew, Anthony and Ciaran</h6>
    <% if (user) { %>
        <a href="/logout">LOG OUT</a>
        <% }%>

</div>
</fieldset>
<section class="right"></section>
</body>

</html>