<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <nav class="nav-global">
        <a href="/logout">LOG OUT</a>
        <a href="/auth/google" class="login">LOG IN</a>
        <img class = "user-sprite">[SPRITE IMAGE]<img>
        <a href="/teams" class ="fake-login">fake log in</a>
        <a href="/"> Home </a>
        <a href="/teams/new"> Create New Team </a>
        </nav>
      

