<%- include("../partials/header")%>

<h1>Welcome to {USERNAME}'s PC.</h1>

<img class ="img-teams" src ="https://64.media.tumblr.com/641ec476865c68bb4f6f7bf6928c1d5c/tumblr_pevr8icX581vw1ceco1_1280.pnj">

<form action="/teams" method="POST">
    <label>Enter Team Name:
    <input type="text" name="name"></input>
</label>
<button type="submit" >Next</button>
</form>

<%- include("../partials/footer")%>