<%- include('../partials/header')%>

<nav class="nav-global">

    <div class="show-nav-bar">
        <div id="nav">
            <img class = "user-sprite"><a href="https://pokemondb.net/pokedex/bulbasaur"><img src="https://img.pokemondb.net/sprites/black-white/anim/normal/bulbasaur.gif" alt="Bulbasaur"></a>[LOGGED IN USER]</img>              
        </div>
        <div id="nav">
            <a href="/logout">LOG OUT</a>
        </div>
        <!-- <div id="nav">
            <a href="/auth/google" class="login">LOG IN</a>            
        </div> -->
        <div id="nav">
            <a href="/teams" class ="fake-login">FAKE LOG IN</a>
        </div>
        <div id="nav">
            <a href="/">HOME</a>                
        </div>
        <div id="nav">
            <a href="/teams/new">NEW TEAM</a>
        </div>

    </div>
        
</nav>

<div class="show-img-h2">
<div class="img">
    <img class ="img-home" src ="https://64.media.tumblr.com/641ec476865c68bb4f6f7bf6928c1d5c/tumblr_pevr8icX581vw1ceco1_1280.pnj">
</div>

    <form action="" method="POST">
        <div class="pokeTeam">Team #</div>

        <div>#1 Pokemon
            <input type="text" name="pokemon1">
        </div>
        <div>#2 Pokemon
            <input type="text" name="pokemon2">
        </div>
        <div>#3 Pokemon
            <input type="text" name="pokemon3">
        </div>
        <div>#4 Pokemon
            <input type="text" name="pokemon4">
        </div>
        <div>#5 Pokemon
            <input type="text" name="pokemon5">
        </div>
        <div>#6 Pokemon
            <input type="text" name="pokemon6">
        </div>

        <button>Add Pokemon</button>

    </form>
</div>

<%- include('../partials/footer') %>