<%- include('../partials/header')%>


<div class="img">
    <img class ="img-home" src ="https://64.media.tumblr.com/641ec476865c68bb4f6f7bf6928c1d5c/tumblr_pevr8icX581vw1ceco1_1280.pnj">
</div>

    <form action="/teams/<%=team._id%>/pokemon" method="POST">
        <div>Team #</div>

        <div>#1 Pokemon
            <input type="text" name="pokemon1">
        </div>
        <div>#2 Pokemon
            <input type="text" name="pokemon2">
        </div>
        <div>#3 Pokemon
            <input type="text" name="pokemon3">
        </div>
        <div>#4 Pokemon
            <input type="text" name="pokemon4">
        </div>
        <div>#5 Pokemon
            <input type="text" name="pokemon5">
        </div>
        <div>#6 Pokemon
            <input type="text" name="pokemon6">
        </div>

        <button type="submit">Add Pokemon</button>

    </form>

<%- include('../partials/footer') %>