<%- include('./partials/header')%>

    <form action="/teams" method="POST">
        <div>Team #</div>

        <div>#1 Pokemon</div>
        <div>#2 Pokemon</div>
        <div>#3 Pokemon</div>
        <div>#4 Pokemon</div>
        <div>#5 Pokemon</div>
        <div>#6 Pokemon</div>

        <button>CONFIRM</button>

    </form>

<%- include('./partials/footer') %>