<%- include("./partials/header")%>

<div class="index-img-h2">

    <div class="img">
        <img width="200%" class ="img-home" src ="https://64.media.tumblr.com/641ec476865c68bb4f6f7bf6928c1d5c/tumblr_pevr8icX581vw1ceco1_1280.pnj">
    </div>
    
<% if (user) { %>
  <!-- links back to box or teams -->
  <% } else { %>
    <div class="log-in">
        
        <h2 id="Please">Please</h2><button type="submit" name="log-in" class="login"><a class="white" href="/auth/google">LOG IN</a></button> <h2><span id="To">To</span> <span id="Cont">Continue</span></h2>
       
        
        
    </div>
   <% } %> 
 
</div>

<%- include("./partials/footer")%>