*{
  border: solid red 1px;
}




html {
  max-height: 545px;
  max-width: 700px;
  border: solid black 2px;

}

body {
  max-height: 525px;
  max-width: 684px;
  border: solid black 2px;
 } 

a {
  color: hsl(0, 0%, 0%);
}

.welcome {
  display: flex;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  justify-content: space-evenly;
  height: auto;
  width: auto;
  margin: 0 0 0 1px;
  padding: 1px;
  
}

/* NAV BAR */
.nav-global {
  display: flex;
  padding: 0;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color: #63e668;
  color: #000000;
}
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 5px;
  justify-content: center;
  margin: 0;
  
}

.show-nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 5px;
  justify-content: center;
  margin: 0;
}

.new-nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 5px;
  justify-content: center;
  margin: 0;
}

/* IMAGE AND H2 ELEMENT INDEX VIEW CONTAINER*/
.index-img-h2 {
  display: grid;
  max-height: 80vh;
  grid-template-columns: 1fr 1fr;
}

/* DIV CONTAINER FOR IMG AND FORM teams/new */
.show-img-form {
  display: grid;
  max-height: 80vh;
  grid-template-columns: [first] 40% [line2] 60%;
}

/* IMAGE */
.img-home {
  display: flex;
  height: 60vh;
  
}

/* IMAGE AND FORM teams/new VIEW */
.img, .new-img-form {
  display: flex;
  height: auto;
  width: auto;
  justify-content: space-between;
}

/* teams/new FORM CLASS */
.new-form {
  margin: 75px 100px 0 75px;
}

.new-button {
  margin: 10px 0 0 75px;
  background-color: red;
  color: white;
  border-radius: 15px;
}

/* INPUT FIELD ON teams/new */
.new-input {
  margin: 10px 0 0 0;
  padding: 10px;
  font-size: 16px;
}

.log-in {
  display: grid;
  align-items: center;
  
}

.log-in>h2 {
  font-family: 'Press Start 2P', cursive;
  /* margin: 0; */
  height: 25%;
  padding: 10px;

}

/* LOGIN BUTTON IN INDEX VIEW */
.login {
  background-color: red;
  border-radius: 30px;
  margin: 0 auto;
}

.white {
  color: white;
}

.pokeTeamName {
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  font-size: 20px;
  border: black solid 2px;
}

.pokeTeam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  padding: 5px;

}

.pokeTeam>button {
  justify-content: center;
}

.show-form {
  width: auto;
  margin: 10px 10px;
}

.show-button {
  margin: 10px 0 10px 150px;
  background-color: red;
  color: white;
  border-radius: 15px;
}

.edit-img {
  height: 30px;
  width: 30px;
  margin: 5px 0 0 5px;
}

.edit-img {
  display: flex;
  height: 10vh;
  width: 10vw;
  border: solid black 1px;
  border-end-end-radius: 20px;
}

.two-buttons {
  display: flex;
}

#nav {
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  padding: 3px;
  border: solid black 2px;
}

#team-name {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  justify-content: center;
}

#devs {
  display: flex;
  justify-content: space-around;
}

#input {
  height: 40px;
}



