* {
  box-sizing: border-box;
  /* border: solid blue 1px; */
}



body {
  max-height: 950px;
  max-width: 100%;
  border: solid black 4px;
  margin: 0;
  padding: 10px 2%;
  background-color: rgb(124, 9, 9);
}

html {
  display: flex;
  justify-content: center;
  border: solid black 5px;
  padding: 10px;
  background-color: rgb(157, 10, 10);
}


a:link {
  text-decoration: none;
}


.body {
  display: grid;
  grid-template-columns: [first] 10% [line2] auto[line3] 10% [end];
  column-gap: 10px;
  border: solid black 2px;
  background-color: rgb(124, 9, 9);

}

.left {
  border: solid black 2px;
  background-image: url(https://img.freepik.com/premium-photo/louver-window_5219-4859.jpg);
  box-shadow: 3px 3px 5px;
}

.right {
  border: solid black 2px;
  background-image: url(https://img.freepik.com/premium-photo/louver-window_5219-4859.jpg);
  box-shadow: 3px 3px 5px;
}

.view {
  border: double black 6px;
  background-color: white;
  box-shadow: 3px 3px 5px;
  overflow: scroll;
}

.daycare {
  display: flex;
  justify-content: centergit;
  flex-flow: row wrap;
  min-height: 290px;
  min-width: 490px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcLmA4OhHKNT0y0mAmTYgNWp1OVI_m6__uFA&usqp=CAU);
  background-size: 493px 300px;
  
}

.daycareSprite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.daycareSprite>p {
  padding: 0 0 0 45px;
  margin: 0 0 3px 0;
}

.daycare-sprite {
  padding: 0 0 0 23px;
}


.fence {
  display: grid;
  /* border: dashed white 4px; */
  min-height: 250px;
  /* background-color: white; */
}

.daycareBtn {
  display: flex;
  padding: 0 10px;
  margin: 5px auto;
  height: auto;
  width: auto;
  background-color: red;
  border-radius: 15px;
}

.daycareBtn>a {
  color: white;
}

.welcome {
  display: flex;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 10px;
  border: black 6px;
  border-style: double;
  background-color: white;

}

/* NAV BAR */
.nav-global {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: center;
  margin-top: 0;
  background-image: linear-gradient(yellow, rgb(123, 214, 245));
  border: solid black 1px 1px 0 1px;
}

.nav-global>a {
  color: black;
  text-shadow: 2px 2px 5px;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  height: 50px;
  align-items: center;
  width: 100%;


}

.show-nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 5px;
  justify-content: center;
  margin: 0;
}

.new-nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 5px;
  justify-content: center;
  margin: 0;
}

/* IMAGE AND H2 ELEMENT INDEX VIEW CONTAINER*/
.index-img-h2 {
  display: grid;
  max-height: 80vh;
  grid-template-columns: 1fr 1fr;
  border: double black 6px;
}

/* DIV CONTAINER FOR IMG AND FORM teams/new */
/* .show-img-form {
  display: grid;
  max-height: 80vh;
  grid-template-columns: [first] 40% [line2] 60%;
} */


/* IMAGE AND FORM teams/new VIEW */
.new-img-form {
  display: flex;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcLmA4OhHKNT0y0mAmTYgNWp1OVI_m6__uFA&usqp=CAU);
  background-size: contain;
  height: 100%;
  width: auto;
  justify-content: center;
}

/* teams/new FORM CLASS */
.new-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 100%; */
  margin: 70px 50px;
}

.new-button {
  display: flex;
  justify-content: center;
  background-color: red;
  color: white;
  padding: 2px 20px;
  margin: 5px auto;
  border: solid black 2px;
  border-radius: 10px;
}

/* INPUT FIELD ON teams/new */
.new-input-div {
  display: flex;
  align-items: center;
}

.new-input {
  align-content: center;
  text-align: center;
  margin: 10px 20px 0 40px;
  padding: 5px;
  font-size: 16px;
}

/* INDEX LOGIN VIEW RIGHT OF THE PICTURE */
.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 6px;
  background-color: white;
}

/* IMAGE */
.img-home {
  display: flex;
  height: 60vh;
  padding: 30px;
  border: black 6px;
  background-color: white;
  background-size: contain;

  
}

.log-in>h2 {
  font-family: 'Press Start 2P', cursive;
  height: 25%;
  padding: 10px;

}

/* LOGIN BUTTON IN INDEX VIEW */
.login {
  background-color: red;
  border: solid black 1px;
  border-radius: 10px;
  height: 50px;
  justify-content: center;
  padding: 0 15px;
  margin-top: -20px;
  box-shadow: 3px 3px 4px;
}

.white {
  color: white;
}

.pokeTeamName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  font-size: 20px;
  border: black double 6px;
}

.pokeTeam {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  /* display: grid;
  grid-template-columns: [first] 30% [line2] 10% [line3] auto;
  column-gap: 10px; */
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  padding: 5px;
}

.pokeTeam>button {
  justify-content: center;
}

.show-form {
  width: auto;
  height: auto;
  margin: 10px 10px;
}

.show-button {
  margin: 10px 0 10px 150px;
  background-color: red;
  color: white;
  border-radius: 15px;

}

.edit-img {
  height: 30px;
  width: 30px;
  margin: 5px 0 0 5px;
}

.edit-img {
  display: flex;
  height: 10vh;
  width: 10vw;
  border: solid black 1px;
  border-end-end-radius: 20px;
}

.two-buttons {
  display: flex;
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 0px .5em;
  border: 2px solid black;
  overflow: scroll;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcLmA4OhHKNT0y0mAmTYgNWp1OVI_m6__uFA&usqp=CAU);
  background-image: contain;
}

.addPoke {

  display: flex;
  flex-flow: row wrap;

}
.invisible-input {
  visibility: hidden;
  width: 0px;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  padding: 0 0 0 5px;
  border: black 6px;
  border-style: double;
  background-color: white;
}

.pokeNewImg {
  min-height: 290px;
  min-width: 490px;
  background-image: url(https://external-preview.redd.it/1CnIhgclEdJIlkFuBZGEbCTKA0epd5X2u7hrtuOFm8s.png?width=640&crop=smart&auto=webp&s=f520337854210ac39b4e3f4916b2ecffd0366536);
  background-size: 500px 350px;
  border-top: solid black 1px;

}

.form-container {
  position: relative;
}

.pokeNew {
  display: flex;
  border: solid black 1px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: rgb(251, 232, 185);
}

.pokeRandom {
  position: absolute;
  bottom: 0;
  margin: 5px;
}

.teamImg {
  display: flex;
  width: 100%;
}

.team-1 {
  display: grid;
  margin: 3px;
}

.dt {
  border-radius: 10px;
  box-shadow: 2px 2px 5px;
  margin: 0 0 5px 0;
}

.sprite {
  display: flex;
  flex-direction: column;
  border: solid black 2px;
  margin: 5px 2px;
  border-radius: 50px 50px 50px 50px;
  box-shadow: 2px 2px 5px;
}

.sprite>img {
  display: flex;
  height: 64px;
  width: 50px;
}

.details {
  height: 40px;
  width: 40px;
}

.details>p {
  margin: 0;
}

.teamName>p {
  margin: 0;
}

.createNewTeam {
  border-radius: 0 15px 0 0;
  border: solid black 2px;
}

.createNewTeam>a {
  color: black;
}

.poke-edit-form {
  display: flex;
  flex-direction: column;
}
.poke-stuff {
  display: flex;
  flex-direction: column;
}

.type, .ability, .item {
  display: flex;
  justify-content: center;
}

.edit-name {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  border-top: solid black 2px;
  border-bottom: solid black 2px;
}

.edit-name>p {
  margin: 0;
  padding: 10px;
}

.edit-top {
  display: flex;
  justify-content: center;
  border-top: single black 2px;
  border-bottom: double black 6px;
}

.trio {
  display: grid;
  grid-template-columns: [first] 80% [end];
  grid-template-rows: auto;
  margin: 0 0 0 20px;
  border-left: solid black 2px;
  width: 320px;
}

.type>h3, .ability>h3, .item>h3 {
  margin: 0 20px 0 0;
  padding: 5px;

}

.type>p, .ability>p, .item>p {
  margin: auto;
  
}

.type, .ability, .item {
  justify-content: flex-start;
}

.edit-bottom {
  padding: 10px;
}

.edit-bottom>h3 {
  justify-content: center;
}

.stat {
  display: flex;
  border: solid black 2px;
  border-style: 1px 0 0 1px inset black;

}

.base-stat {
  border: solid black 2px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 4px;
}

.all-stats {
  box-shadow: 2px 2px 4px;
}

.editName {
  display: grid;
  grid-template-rows: 1fr;
  align-content: space-between;
}

.change {
  margin: 10px;
}

.sprite-stats-one {
  display: flex;
  justify-content: center;
}

.poke-sprite {
  width: 100%;
  padding: 10px;
}

.poke-stat {
  display: flex;
  padding: 10px;
  align-items: center;
  border: solid black 2px;
  box-shadow: 2px 0 5px;
}

.poke-stat>p {
  justify-content: space-between;
  margin: 0;
}

.poke-stats {
  padding: 0 10px 10px 10px;
  
}

.img-name {
  margin: 0 25px 0 0;
  padding: 20px;
  justify-content: center;

}
.pokeStats {
  padding: 10px;
  width: 52.5%;
}

.fav-name {
  display: flex;
  justify-content: center;
  padding: 10px;
  border: double black 6px;
  margin: 0;
}

.fav-name>h1 {
  margin: 0;
}

.favorite-image {
  display: flex;
  background-image: contain;
  height: 100%;
  width: 100%;
}

.form-favorite {
  display: flex;
  padding: 10px;
  justify-content: center;
  border: double black 6px;
}

.fav-input {
  text-align: center;

}

.whosthat {
  display: flex;
  background-image: contain;
}

#HP, #ATK, #DEF, #SPATK, #SPDEF, #SPEED {
    padding: 10px;
    margin: 0;
}

#HPstat {
  margin: 0 0 0 50px;
}

#ATKstat {
  margin: 0 0 0 41px;
}

#DEFstat {
  margin: 0 0 0 41px;
}

#SPATKstat {
  margin: 0 0 0 22px;
}

#SPDEFstat {
  margin: 0 0 0 22px;
}

#SPEEDstat {
  margin: 0 0 0 22px;
}

#list-wrapper {
  display: flex;
  justify-content: center;
  height: 60px;
  
  border: double black 6px;
}
#list-wrapper>p{
  padding: 10px;
  display: block;
  /* height: 30px; */
  margin: 0;
  font-weight: bold;
  
}

#base-stats {
text-align: center;
border: single black 6px;
padding: 5px;
margin: 0;
}

#hp {
  margin: 0 0 0 45px;
  padding: 20px 0 0 0;
}

#atk {
  margin: 0 0 0 38px;
  padding: 20px 0 0 0;
}

#def {
  margin: 0 0 0 38.5px;
  padding: 20px 0 0 0;
}

#spatk {
  margin: 0 0 0 20px;
  padding: 20px 0 0 0;
}

#spdef {
  margin: 0 0 0 19.5px;
  padding: 20px 0 0 0;
}

#speed {
  margin: 0 0 0 19.5px;
  padding: 20px 0 0 0;
}

#one, #two, #three, #four, #five, #six {
  padding: 20px 0 0 0;
  margin-left: 10px;
} 

#deleteTeam {
  display: flex;
  justify-content: center;
}

#sprite {
  display: grid;
  grid-template-columns: [first] 30% [line2] 70% [line3];
  column-gap: 2px;
  justify-items: center;
  align-items: center;
  margin: 0;
  border-bottom: groove black 2px;
  padding: 5px 50px;
  background-color: red;
  border-radius: 48px 48px 0 0;
}

#spriteRow {
  display: flex;
  height: 45px;
  justify-content: center;
  background-color: white;
  margin: 0 50px;
  min-height: 45px;

}


#details {
  height: 40px;
  width: 40px;
}

#dexInput {
  display: flex;
  justify-content: center;
}

#text {
  font-weight: bold;
  justify-content: center;
}

#textInput {
  text-align: center;

}

#logout>a {
  color: black;
  text-shadow: 1px 1px 5px;
}

#welcome {
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  color: yellow;
}

#to {
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  color: blue;
}

#someone {
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  color: red;
}

#pc {
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  color: green;
}

#Please {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

#To {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 15px 0;
}

#Cont {
  display: flex;
  align-items: center;
}

#indexNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 50px;
  padding: 2px 0 4px 40px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcLmA4OhHKNT0y0mAmTYgNWp1OVI_m6__uFA&usqp=CAU);
  background-size: 100px 70px;
}

#title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#nav {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: center;
  padding: 3px;
  border: solid black 2px;
}

#team-name {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  justify-content: space-around;
}

#input {
  height: 40px;
}

#dev {
  border: black 1px 1px;
  border-style: inset;
  padding: 2px;
  margin-top: 10px;
}

#logout {
  display: flex;
  margin: 0 50px 0 0;
}

#whosthat {
  width: 75%;
}

#next-poke-new {
  align-self: flex-end;
}

#normal {
  background-image: none;
  background-color: #AAAA99;
}

#fire {
  background-image: none;
  background-color: #FF4422;
}

#water {
  background-image: none;
  background-color: #3399FF;
}

#electric {
  background-image: none;
  background-color: #FFCC33;
}

#rock {
  background-image: none;
  background-color: #BBAA66;
}

#dark {
  background-image: none;
  background-color: #775544;
}

#grass {
  background-image: none;
  background-color: #77CC55;
}

#ice {
  background-image: none;
  background-color: #66CCFF;
}

#fighting {
  background-image: none;
  background-color: #BB5544;
}

#poison {
  background-image: none;
  background-color: #995599;
}

#ghost {
  background-image: none;
  background-color: #6666BB;
}

#steel {
  background-image: none;
  background-color: #AAAABB;
}

#ground {
  background-image: none;
  background-color: #DDBB55;
}

#flying {
  background-image: none;
  background-color: #8899FF;
}

#psychic {
  background-image: none;
  background-color: #FF5599;
}

#bug {
  background-image: none;
  background-color: #AABB22;
}

#dragon {
  background-image: none;
  background-color: #7766EE;
}

#fairy {
  background-image: none;
  background-color: #EEAAEE;
}