*{
  border: solid red 1px;
}




html {
  max-height: 545px;
  max-width: 700px;
  border: solid black 2px;

}

body {
  max-height: 525px;
  max-width: 684px;
  border: solid black 2px;
 } 

a {
  color: hsl(0, 0%, 0%);
}

.welcome {
  display: flex;
  font-family: 'Press Start 2P', cursive;
  font-size: 13px;
  justify-content: space-evenly;
  height: auto;
  width: auto;
  margin: 0 0 0 1px;
  padding: 1px;
  
}

/* NAV BAR */
.nav-global {
  display: flex;
  padding: 0;
  height: auto;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  background-color: #63e668;
  color: #000000;
}
.nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 5px;
  justify-content: center;
  margin: 0;
  
}

.show-nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 5px;
  justify-content: center;
  margin: 0;
}

.new-nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 5px;
  justify-content: center;
  margin: 0;
}

/* GRID DISPLAY FOR IMAGE AND H2 ELEMENT INDEX VIEW */
.index-img-h2 {
  display: grid;
  max-height: 80vh;
  grid-template-columns: 1fr 1fr;
}

/* IMAGE */
.img-home {
  display: flex;
  height: 60vh;
  
}

/* GRID DISPLAY FOR IMAGE AND H2 ELEMENT INDEX VIEW */
.img, .new {
  display: flex;
  height: auto;
  width: auto;


}

/* DISPLAY FOR IMAGE AND H2 ELEMENT teams/new VIEW */
.new {
  justify-content: space-between;
}

/* teams/new FORM CLASS */
.new-form {
  margin: 75px 100px 0 75px;
}

.new-button {
  margin: 10px 0 0 75px;
  background-color: red;
  color: white;
  border-radius: 15px;
}

/* INPUT FIELD ON teams/new */
.new-input {
  margin: 10px 0 0 0;
  padding: 10px;
  font-size: 16px;
}

.log-in {
  display: grid;
  /* flex-direction: wrap; */
  align-items: center;
  /* justify-content: space-around; */
}

.log-in>h2 {
  font-family: 'Press Start 2P', cursive;
  /* margin: 0; */
  height: 25%;
  padding: 10px;

}

/* LOGIN BUTTON IN INDEX VIEW */
.login {
  background-color: red;
  border-radius: 30px;
  margin: 0 auto;
}

.white {
  color: white;
}

#nav {
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  padding: 3px;
  border: solid black 2px;
}

#team-name {
  font-family: 'Press Start 2P', cursive;;
  font-size: 20px;
  justify-content: center;
}

#devs {
  display: flex;
  justify-content: space-around;
}



