*{
  box-sizing: border-box;
  /* border: solid blue 1px; */
}



body {
  max-height: 950px;
  max-width: 100%;
  border: solid black 4px;
  margin: 0;
  padding: 10px 2%;
  background-color:rgb(124, 9, 9);
 } 

 html {
  display: flex;
  justify-content: center;
  border: solid black 5px;
  padding: 10px;
  background-color: rgb(157, 10, 10);
 }


a:link {
  text-decoration: none;
}


.body {
  display: grid;
  grid-template-columns: [first] 10% [line2] auto[line3] 10% [end];
  column-gap: 10px;
  border: solid black 2px;
  background-color: rgb(124, 9, 9);
  
}

.left {
  border: solid black 2px;
  background-image: url(https://img.freepik.com/premium-photo/louver-window_5219-4859.jpg);
  box-shadow: 3px 3px 5px;
}

.right {
  border: solid black 2px;
  background-image: url(https://img.freepik.com/premium-photo/louver-window_5219-4859.jpg);
  box-shadow: 3px 3px 5px;
}

.view {
  border: double black 6px;
  background-color: white;
  /* min-width: 490px; */
  box-shadow: 3px 3px 5px;
}

.daycare {
  display: flex;
  flex-flow: row wrap;
  /* border: solid black 3px; */
  min-height: 290px;
  min-width: 490px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcLmA4OhHKNT0y0mAmTYgNWp1OVI_m6__uFA&usqp=CAU);
  background-size: 493px 300px;
}

.fence {
  display: grid;
  /* border: dashed white 4px; */
  min-height: 250px;
  /* background-color: white; */
}

.daycareBtn {
  display: flex;
  padding: 0 10px;
  margin: 5px auto;
  height: auto;
  width: auto;
  background-color: red;
  border-radius: 15px;
}

.daycareBtn>a {
  color: white;
}

.welcome {
  display: flex;
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;
  width: auto;
  margin: 0;
  padding: 10px;
  border: black 6px;
  border-style: double;
  background-color: white;
  
}

/* NAV BAR */
.nav-global {
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: center;
  margin-top: 0;
  background-image: linear-gradient(yellow,rgb(123, 214, 245));
  border: solid black 1px 1px 0 1px;
}

.nav-global>a {
  color: black;
  text-shadow: 2px 2px 5px;
}
.nav-bar {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  height: 50px;
  align-items: center;
  width: 100%;
  
  
}

.show-nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 5px;
  justify-content: center;
  margin: 0;
}

.new-nav-bar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 5px;
  justify-content: center;
  margin: 0;
}

/* IMAGE AND H2 ELEMENT INDEX VIEW CONTAINER*/
.index-img-h2 {
  display: grid;
  max-height: 80vh;
  grid-template-columns: 1fr 1fr;
  border: double black 6px;
}

/* DIV CONTAINER FOR IMG AND FORM teams/new */
.show-img-form {
  display: grid;
  max-height: 80vh;
  grid-template-columns: [first] 40% [line2] 60%;
}


/* IMAGE AND FORM teams/new VIEW */
.img, .new-img-form {
  display: flex;
  height: auto;
  width: auto;
  justify-content: space-between;
}

/* teams/new FORM CLASS */
.new-form {
  margin: 75px 100px 0 75px;
}

.new-button {
  display: flex;
  background-color: red;
  border: red;
  color: white;
  border-radius: 5px;
  padding: 2px;
  justify-content: center;
}

/* INPUT FIELD ON teams/new */
.new-input {
  margin: 10px 0 0 0;
  padding: 10px;
  font-size: 16px;
}

/* INDEX LOGIN VIEW RIGHT OF THE PICTURE */
.log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: black 6px;
  background-color: white;
}

/* IMAGE */
.img-home {
  display: flex;
  height: 60vh;
  padding: 30px;
  border: black 6px;
  background-color: white;
  
}

.log-in>h2 {
  font-family: 'Press Start 2P', cursive;
  height: 25%;
  padding: 10px;

}

/* LOGIN BUTTON IN INDEX VIEW */
.login {
  background-color: red;
  border: solid black 1px;
  border-radius: 10px;
  height: 50px;
  justify-content: center;
  padding: 0 15px;
  margin-top: -20px;
  box-shadow: 3px 3px 4px;
}

.white {
  color: white;
}

.pokeTeamName {
  font-family: 'Press Start 2P', cursive;
  padding: 10px;
  font-size: 20px;
  border: black solid 2px;
}

.pokeTeam {
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  display: grid;
  grid-template-columns: [first] 30% [line2] 10% [line3] auto;
  column-gap: 10px;
  font-family: 'Press Start 2P', cursive;
  font-size: 10px;
  padding: 5px;

}

.pokeTeam>button {
  justify-content: center;
}

.show-form {
  width: auto;
  height: auto;
  margin: 10px 10px;
}

.show-button {
  margin: 10px 0 10px 150px;
  background-color: red;
  color: white;
  border-radius: 15px;
  
}

.edit-img {
  height: 30px;
  width: 30px;
  margin: 5px 0 0 5px;
}

.edit-img {
  display: flex;
  height: 10vh;
  width: 10vw;
  border: solid black 1px;
  border-end-end-radius: 20px;
}

.two-buttons {
  display: flex;
}

.list-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;

  width: 100%;
  padding: 0px .5em;

  border: 2px solid #B8C0C2;
  border-radius: 8px;
}

.invisible-input {
  visibility: hidden;
  width: 0px;
}

.footer {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  padding: 0 0 0 5px;
  border: black 6px;
  border-style: double;
  background-color: white;
}

.pokeNewImg {
  min-height: 290px;
  min-width: 490px;
  background-image: url(https://res.cloudinary.com/practicaldev/image/fetch/s--ULVfV0eF--/c_imagga_scale,f_auto,fl_progressive,h_900,q_auto,w_1600/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/gdt6r96u6aotmhmindri.png);
  background-size: 500px 350px;
  box-shadow: 2px 2px 2px 2px black inset;

}

.pokeNew {
  display: flex;
  border: double black 6px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.newForm>input {
  margin: 5px 0 0 10px;
  /* if pokeNew doesnt work out */
}

#newBtn {
  display: flex;
  justify-content: center;
  border: solid black 1px;
  background-color: red;
  box-shadow: 3px 3px 4px;
  margin: 2px 50px;
  border-radius: 10px;
}

#dexInput {
  display: flex;
  justify-content: center;
}

#text {
  font-weight: bold;
}

#dexInput>input {
  border: solid black 2px;

}

#logout>a{
  color: black;
  text-shadow: 1px 1px 5px;
}

#welcome {
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  color: yellow;
}

#to {
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  color: blue;
}

#someone {
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  color: red;
}

#pc {
  text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black;
  color: green;
} 

#Please {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

#To {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 15px 0;
}

#Cont {
  display: flex;
  align-items: center;
}

#indexNav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 50px;
  padding: 2px 0 4px 40px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcLmA4OhHKNT0y0mAmTYgNWp1OVI_m6__uFA&usqp=CAU);
  background-size: 100px 70px;
}

#title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

#nav {
  display: flex;
  height: 100%;
  width: auto;
  justify-content: center;
  padding: 3px;
  border: solid black 2px;
}

#team-name {
  font-family: 'Press Start 2P', cursive;
  font-size: 20px;
  justify-content: center;
}

#input {
  height: 40px;
}

#dev {
  border: black 1px 1px;
  border-style: inset;
  padding: 2px;
  margin-top: 10px;
}

#logout {
  display: flex; 
  margin: 0 50px 0 0;
}

